<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% unless params[:query].nil? %>
  <% if @queries.empty? %>
    <p><%= 'Sorry, no matches were found' %></p>
  <% else %>
    <ul>
      <% @queries.each do |chapter| %>
        <li>
          <a href="/chapters/<%= chapter[:number]%>" class="pure-menu-link"><%= chapter[:title] %></a>
          <ul>
            <% chapter[:paragraphs].each do |idx, content| %>
              <li>
                <a href="/chapters/<%= chapter[:number]%>#paragraph<%= idx %>"><%= strong_wrap(content, params[:query]) %></a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>