<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>

  <% if @results.empty? %>

  <p>Nothing Found</p>

  <% else %>

    <h2 class="content-subhead">Results for "<%= params[:query]%>"  </h2>

    <ul>
      <% @results.each do |result| %>

        <!-- <li><a href="/chapters/<%= result[:number] %>"><%= result[:name] %></a></li> -->

        <li>
            <b><%= result[:name] %></b>
            <ul>
             <%= search_paragraphs(result[:number], params[:query]) %>
            </ul>
        </li>

      <% end %>
    </ul>
  <% end %>
<% end %>
